body {
  background-color: black;
  font-weight: bold;
  font-size: large;
}

video {
  position: absolute;
}

#stats {
  text-align: left;
  position: fixed;
  padding: 10px;
  top: 0;
  right: 0;
  z-index: 100;
  border: 2px solid #efefef;
}

#logs {
  position: fixed;
  z-index: 25;
  left: 20px;
  top: 20px;
  color: red;
}
