body {
  margin: 0px;
  background-color: black;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

#stats {
  text-align: left;
  font-size: 16px;
  color: lime;
  display: none;
}

#overlay {
  position: fixed;
  padding: 6px 13px;
  top: 0;
  right: 0;
  z-index: 100;
  border: 2px solid #efefef;
  background-color: #3f5765;
  color: #efefef;
}

.overlay-shown>#stats {
  padding-top: 50px;
  display: block;
}

.overlay-shown>#overlayButton {
  transform: rotate(-135deg);
}

#overlayButton {
  cursor: pointer;
  transition-duration: 250ms;
  float: right;
  font-size: 40px;
}

#qualityStatus {
  color: gray;
  float: left;
  font-size: 37px;
  padding-right: 4px;
}

#logs {
  position: fixed;
  z-index: 25;
  left: 20px;
  top: 20px;
  color: white;
}