:root {
  /*Using colour scheme https://color.adobe.com/TD-Colors---Option-3-color-theme-10394433/*/
  --colour1: #2b3a42;
  --colour2: #3f5765;
  --colour3: #bdd4de;
  --colour4: #efefef;
  --colour5: #ff5035;
  --buttonFont: Helvetica;
  --inputFont: Helvetica;
}

body {
  margin: 0px;
  background-color: black;
}

#stats {
  background-color: rgba(0, 0, 0, 0.8);
  text-align: left;
  display: block;
  font-size: 14px;
  font-weight: bold;
  padding: 6px;
  color: lime;
}

#overlay {
  border-bottom-right-radius: 5px;
  /* future proofing */
  border-bottom-left-radius: 5px;
  /* future proofing */
  position: fixed;
  padding: 4px;
  top: 0;
  right: 2%;
  z-index: 100;
  border: 2px solid var(--colour4);
  border-top-width: 0px;
  background-color: var(--colour2);
  font-family: var(--buttonFont);
  font-weight: lighter;
  color: var(--colour4);
}

.overlay-shown>#overlaySettings {
  padding: 50px 4px 4px 4px;
  display: block;
}

.overlay-shown>div>#overlayButton {
  transform: rotate(-135deg);
}

#overlayButton:hover {
  cursor: pointer;
}

#overlayButton {
  transition-duration: 250ms;
  float: right;
  text-align: right;
  font-size: 40px;
}

#qualityStatus {
  float: left;
  font-size: 37px;
  padding-right: 4px;
}

#overlaySettings {
  width: 300px;
  display: none;
}

/*** Toggle Switch styles ***/

video#streamingVideo {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='50px' width='200px'><text x='0' y='40' fill='white' font-size='30'>Click to Start</text></svg>");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #222;
  width: unset;
  height: unset;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  object-fit: fill;
}

#logs {
  position: fixed;
  z-index: 25;
  left: 20px;
  top: 20px;
  color: white;
}