:root {
  /*Using colour scheme https://color.adobe.com/TD-Colors---Option-3-color-theme-10394433/*/
  --colour1: #2b3a42;
  --colour2: #3f5765;
  --colour3: #bdd4de;
  --colour4: #efefef;
  --colour5: #ff5035;
  --buttonFont: Helvetica;
  --inputFont: Helvetica;
}

body {
  margin: 0px;
  background-color: black;
}

#stats {
  background-color: rgba(0, 0, 0, 0.8);
  text-align: left;
  display: block;
  font-size: 14px;
  font-weight: bold;
  padding: 6px;
  color: lime;
}

#overlay {
  border-bottom-right-radius: 5px;
  /* future proofing */
  border-bottom-left-radius: 5px;
  /* future proofing */
  position: fixed;
  padding: 4px;
  top: 0;
  right: 2%;
  z-index: 100;
  border: 2px solid var(--colour4);
  border-top-width: 0px;
  background-color: var(--colour2);
  font-family: var(--buttonFont);
  font-weight: lighter;
  color: var(--colour4);
}

.overlay-shown>#overlaySettings {
  padding: 50px 4px 4px 4px;
  display: block;
}

.overlay-shown>div>#overlayButton {
  transform: rotate(-135deg);
}

#overlayButton:hover {
  cursor: pointer;
}

#overlayButton {
  transition-duration: 250ms;
  float: right;
  text-align: right;
  font-size: 40px;
}

#qualityStatus {
  float: left;
  font-size: 37px;
  padding-right: 4px;
}

#overlaySettings {
  width: 300px;
  display: none;
}

.settings-text {
  color: var(--colour4);
  vertical-align: middle;
  font-size: 18px;
  font-weight: normal;
  display: inline-block;
}

.overlay-button {
  line-height: 1.1;
  padding: 1px 6px;
}

.btn-overlay {
  float: right;
  vertical-align: middle;
}

.btn-flat {
  background: var(--colour4);
  border: 2px solid var(--colour5);
  font-weight: bold;
  cursor: pointer;
  font-family: var(--buttonFont);
  font-size: 10px;
  color: var(--colour5);
  border-radius: 5px;
  height: 17px;
}

.btn-flat:disabled {
  background: var(--colour4);
  border-color: var(--colour3);
  color: var(--colour3);
  cursor: default;
}

.btn-flat:active {
  border-color: var(--colour2);
  color: var(--colour2);
}

.btn-flat:focus {
  outline: none;
}

/*** Toggle Switch styles ***/

.tgl-switch {
  float: right;
  vertical-align: middle;
}

.tgl-switch .tgl {
  display: none;
}

.tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl+.tgl-slider {
  box-sizing: border-box;
}

.tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl+.tgl-slider::selection {
  background: none;
}

.tgl+.tgl-slider {
  outline: 0;
  display: block;
  width: 40px;
  height: 18px;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.tgl+.tgl-slider:after, .tgl+.tgl-slider:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}

.tgl+.tgl-slider:after {
  left: 0;
}

.tgl+.tgl-slider:before {
  display: none;
}

.tgl-flat+.tgl-slider {
  padding: 2px;
  transition: all 0.2s ease;
  background: #fff;
  border: 3px solid var(--colour4);
  border-radius: 2em;
}

.tgl-flat+.tgl-slider:after {
  transition: all 0.2s ease;
  background: var(--colour4);
  content: "";
  border-radius: 1em;
}

.tgl-flat:checked+.tgl-slider {
  border: 3px solid var(--colour5);
}

.tgl-flat:checked+.tgl-slider:after {
  left: 50%;
  background: var(--colour5);
}

/*** Toggle Switch styles ***/

video#streamingVideo {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='50px' width='200px'><text x='0' y='40' fill='white' font-size='30'>Click to Start</text></svg>");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #222;
  width: unset;
  height: unset;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  object-fit: fill;
}

#logs {
  position: fixed;
  z-index: 25;
  left: 20px;
  top: 20px;
  color: white;
}